.home-page {
  padding-top: 50px;
  padding-bottom: 50px;

  .search-form {
    display: flex;
    align-items: center;

    .input-search {
      max-width: 300px;
      margin-right: 5px;
    }
  }

  .table-row {
    margin-top: 30px;
  }
}